* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.slideshow-container {

  max-width: 1000px;
  position: relative;
  box-shadow: 4px 4px 5px #8e8d8d91;


  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#check{
  display: flex;
  flex-direction: column;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #000000;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  display: flex;
  margin: 0px 2px;
  
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  align-items: center;
  justify-content: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#pid{
  text-align: center;
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
h1{
  font-size: larger;
}




/* slide css  */
     /* we have 3 css file main.css slide.css tanmai.css  */
     h2::after {
      content: " ";
        position: absolute;
        right: 0;
        animation: blink 10s step-start infinite;
      }
      #animationid {
        position: relative;
        font-family: serif;
        font-size: 2rem;
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid transparent; /* Optional cursor effect */
        animation:typing 3s steps(10) infinite alternate, blink 700ms step-end infinite alternate;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
              background:-webkit-linear-gradient(90deg, #ff6600, #000000);
              -webkit-background-clip: text;
              color: transparent;
      }
      #xyz{
        display: flex;
      
      }
      
      
      @keyframes typing {
        0% {
            width: 0;
        }
        25%{
            width: 25%;
        }
      50%{
        width: 100%;
      }
        75%{
            width: 75%;
        }
        100% {
            width:0; /* Reset to create a typing effect */
        }
      }
      
      @keyframes blink {
        0% {
            border-color: transparent;
        }
      }
      .container1
      {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
      
      }
      #registerdiv{
        background-color: #fff;
        width: 200px;
        height: 200px;
        margin: 20px 0;
        border-radius: 4px;
      }
      #btn1{
        
        background-color: #ff6b6b;
        color: white;
        padding: 5px;
        display: flex;
        height:37px;
        width:90px;
        text-decoration: none;
        border-radius: 3px;
      }
      #btn1:hover{
        scale: 1.25;
        border-radius: 10px;
        background-color: #2e7dd8;
      }
      .div2 {
        background-color: #ffdfba;
        display: flex;
        height: 350px;
      }
      .content-box {
        background-color: #fff;
        width: 200px;
        height: 160px;
        margin: 20px 0;
        padding: 1px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
            /* background-image: url(img2.jpg); */
      }
      #imgid1{
        height: 139px;
        width: 187px;
        border-radius: 3px;
      }
      
      .btn {
       
        background-color: #ff6b6b;
        color: white;
        padding: 5px;
        display: flex;
        height:37px;
        width:90px;
        text-decoration: none;
        border-radius: 3px;
      
      }
      .btn:hover{
        scale: 1.25;
        border-radius: 10px;
        background-color: #2e7dd8;
      }
      .contribute {
        background-color: #e8f4fd;
        display: flex;
        justify-content:space-between;
        height:390px;
      }
      .container2
      {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        
      
      }